body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


h1 {
    padding-top: 20px;
    color: rgb(41, 44, 223);
    padding-left: 30px;
}

h2 {
    padding-left: 30px;
}

button {
    color: rgb(41, 44, 223);
    padding: 15px;
}

form {
    padding-left: 30px;
}
