body {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    padding-top: 20px;
    color: rgb(41, 44, 223);
    padding-left: 30px;
}

button {
    display: inline;
    color: rgb(41, 44, 223);
    padding: 15px;
}
